.small-line {
  margin-right: 15px;
}
.searchbar {
  border-left: #f5f4f4 2px solid;
  display: flex;
  margin-left: 25px;
  height: 30px;
  margin-bottom: 5px;
}
.searchbar input {
  width: 10vh;
  height: 3vh;
  padding: 0px;
  background-color: #f5f4f4;
  border-radius: 5px;
}
.searchbar label {
  width: 10vh;
  height: 5vh;
  padding: 0px;
}
.search-icon {
  color: #f7f7f7;
  margin-top: 3px;
  margin-left: 5px;
}
